<h3><i class="fas fa-book-reader"></i>BookStore</h3>
<div class="section">
    <p class="lead">
        Create Public and Private Stories Here.
    </p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn primary darken-1">
        <i class="fab fa-google left"></i>Login With Google
    </a>
</div>